<div class="container-fluid" style="background: #000; margin-top: -30px;">

  <div class="container">
    <footer>
      <div class="foot">
        <div data-aos="zoom-in-down">
          <ul class="sot-set">
            <li><a href="#!">
                <p class="paragraph">netflix</p><img
                  src="/images/netflix-footer.png"
                  alt=""
                />
              </a></li>
            <li><a href="#!">
                <p class="paragraph">youtube</p><img
                  src="/images/youtube.png"
                  alt=""
                />
              </a></li>
            <li><a href="#!">
                <p class="paragraph">instagram</p><img
                  src="/images/instagram.png"
                  alt=""
                />
              </a></li>
            <li><a href="#!">
                <p class="paragraph">facebook</p><img
                  src="/images/facebook.png"
                  alt=""
                />
              </a></li>
            <li><a href="#!">
                <p class="paragraph">telegram</p><img
                  src="/images/telegram.png"
                  alt=""
                />
              </a></li>
            <li><a href="#!">
                <p class="paragraph">whatsapp</p><img
                  src="/images/whatsapp.png"
                  alt=""
                />
              </a></li>
          </ul>
        </div>

        <ul class="navbar">
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Реклама</a></li>
          <li><a href="#">Соглашение</a></li>
          <li><a href="#">Справка</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">Участие в исследованиях</a></li>
          <li><a href="#">Предложения</a></li>
          <li><a href="#">Служба поддержки</a></li>
        </ul>
      </div>

    </footer>
  </div>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", { slidesPerView: 3, spaceBetween: 30,
  pagination: { el: ".swiper-pagination", clickable: true, }, });
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="/script/script.js"></script>
<script src="/script/toCategory.js"></script>
<script src="/script/loader.js"></script>