<div data-aos="fade-down">
  <div class="container">
    <nav>
      <a href="/"><img width="150px" src="https://images.stopgame.ru/blogs/2019/01/04/ENk8du4j.jpg" alt="" /></a>
      <ul class="ul">
        <li><a href="/">ГЛАВНЫЙ</a></li>
        <li class="clicker"><a href="#">КАТЕГОРИЯ</a>
          <ul class="category">
            <a href="#!">ЭКШЕН</a>
            <a href="#!">ДРАМА</a>
            <a href="#!">МУЛЬТФИЛЬМЫ / АНИМЕ</a>
            <a href="#!">ХОРРОР</a>
            <a href="#!">РОМАНТИКА</a>
            <a href="#!">ФАНТАСТИКА</a>
            <a href="#!">КОМЕДИЯ</a>
          </ul>
        </li>
        <li><a href="/add/movie">ДОБАВИТЬ ФИЛЬМ</a></li>
        <li><a href="/shopping/card">КОРЗИНА</a></li>
      </ul>
      <div class="account">
        <a href="/signin" class="log">ВОЙТИ</a>
        <a href="/signup" class="log">РЕГИСТРАТСИЯ</a>
      </div>
    </nav>
  </div>
</div>

<script src="/script/toCategory.js"></script>