<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="/images/netflix.png">

<body>

    {{!-- {{#if}}    --}}
    <div class="loadingio-spinner-eclipse-lz2x04wpz8k">
        <div class="ldio-z8nfhddfixm">
            <div>

            </div>
        </div>
    </div>
    {{!-- {{#else}}  --}}
    {{> head}}
    {{> nav}}
    {{{body}}}
    {{> footer}}
    {{!-- {{/if}}    --}}
</body>

</html>