<div class="heightContent">
    <div data-aos="fade-up">

    <div class="container">
        <div class="form">
            <h1 class="prm" style="text-align: center; color: #fff; text-transform: uppercase; padding-top: 30px; margin-bottom: 50px; font-size: 30px;">добавить фильм</h1>
            <form action="">
            <input class="pni" placeholder="Название фильма" type="text">
            <input class="pni" placeholder="Дата фильма" type="number">
            <input class="pni" placeholder="Цена фильма" type="price">
            <input class="btn-submit" placeholder="Цена фильма" type="submit">
        </form>
        </div>
    </div>
    </div>
</div>