<div class="background-error">
    <img class="mike"
        src="/images/error.webp"
        alt="">
    <h1 class="err">ERROR 404 <br>
        PAGE NOT FOUND</h1>
</div>
<style>
    .err {
        text-align: center;
        color: rgb(172, 10, 10);
        font-size: 61px;
        margin-left: 10px;
        text-shadow: 1px 1px 15px red;
    }

    nav,
    footer {
        display: none;
    }

    body {
        background: #fff;
        box-shadow: 1px 1px 200px #000 inset ;
    }

    .background-error {
        display: flex;
        align-items: center;
        margin-left: -200px;
        justify-content: center;
        padding-top: 10%;
    }

    .loadingio-spinner-eclipse-lz2x04wpz8k{
        display: none;
    }
</style>