<div class="container">
  <header>

    <div class="hero">
      <div data-aos="zoom-in-up">

        <h1 class="title"><span class="active">Фильмы</span>
          ,<span class="active"> сериалы</span>
          и без ограничений.
        </h1>
      </div>

      <div data-aos="zoom-in">
        <h3 class="little-title">Смотрите где угодно. Отменить подписку можно в
          любое время.</h3>
      </div>

      <div data-aos="zoom-in-down">
        <span class="bitle-title">Готовы смотреть? Ищите фильм, который вы
          хотите, у нас есть только те фильмы, которые вы хотите</span>

      </div>

      <div data-aos="zoom-out-up">

        <div class="gmail">
          <input class="inp" placeholder="Поиск" type="text" />
          <input class="sub" type="submit" />
        </div>
      </div>
    </div>

  </header>
</div>
<div class="container-fluid" style="background: #000; margin-top: 300px;">
  <div data-aos="fade-up">
    <h1 class="prm">премьеры</h1>
  </div>

  <div class="container">
    <div class="cards d-flex" style="width: 1150px;">
      <div data-aos="zoom-in">
        <div class="cart">
          <div class="movie">
            <img src="/images/thor.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Thor:Love and Thunder</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>
          </div>
        </div>
      </div>
      <div data-aos="zoom-in">

        <div class="cart">
          <div class="movie">
            <img src="/images/spiderman.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Spiderman: Multiverse 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="zoom-in">

        <div class="cart">
          <div class="movie">
            <img src="/images/squidgame.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Squid Game : Season 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="zoom-in">

        <div class="cart">
          <div class="movie">
            <img src="/images/yourname.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Anime : Your name</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="zoom-in">

        <div class="cart">
          <div class="movie">
            <img src="/images/deadpool.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Deadpool 3:I'm Avenger</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
    </div>

  </div>
  {{! === }}
  <div data-aos="fade-up">
    <h1 class="prm">самый лучшие</h1>
  </div>
  <div class="container">
    <div class="cards d-flex">

      <div data-aos="fade-up-right">

        <div class="cart">
          <div class="movie">
            <img
              src="http://versia.co.il/wp-content/uploads/2020/02/Avengers-Endgame-%D7%A8%D7%95%D7%A1%D7%99%D7%AA-200x300.jpg"
              alt="" />
          </div>
          <div class="movie-info">
            <h2>Thor:Love and Thunder</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up-right">

        <div class="cart">
          <div class="movie">
            <img src="/images/homealone.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Spiderman: Multiverse 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up">

        <div class="cart">
          <div class="movie">
            <img src="/images/starwars.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Squid Game : Season 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up-left">

        <div class="cart">
          <div class="movie">
            <img src="/images/amazing-spider-man.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Anime : Your name</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up-left">

        <div class="cart">
          <div class="movie">
            <img src="/images/smeshariki.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Deadpool 3:I'm Avenger</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>

    </div>

  </div>
  {{! === }}

  <div data-aos="fade-up">
    <h1 class="prm">мультфильмы</h1>
  </div>
  <div class="container">
    <div class="cards d-flex">
      <div data-aos="fade-up-right">

        <div class="cart">
          <div class="movie">
            <img src="/images/rik-i-morti-3-sezon.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Thor:Love and Thunder</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up-right">

        <div class="cart">
          <div class="movie">
            <img src="/images/gravity.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Spiderman: Multiverse 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up">

        <div class="cart">
          <div class="movie">
            <img src="/images/kungfupanda_postermovie.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Squid Game : Season 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up-left">
        <div class="cart">
          <div class="movie">
            <img src="/images/dbs.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Anime : Your name</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up-left">
        <div class="cart">
          <div class="movie">
            <img src="/images/masha.jfif" alt="" />
          </div>
          <div class="movie-info">
            <h2>Deadpool 3:I'm Avenger</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>

    </div>

  </div>
  {{! === }}
  <div data-aos="fade-up">
    <h1 class="prm">сериалы</h1>
  </div>
  <div class="container">
    <div class="cards d-flex">
      <div data-aos="fade-up-right">
        <div class="cart">
          <div class="movie">
            <img src="/images/loki.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Thor:Love and Thunder</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up-right">
        <div class="cart">
          <div class="movie">
            <img src="http://kinof.ru/uploads/posts/2021-12/1632818367.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Spiderman: Multiverse 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up">
        <div class="cart">
          <div class="movie">
            <img src="/images/cukur.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Squid Game : Season 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>

      </div>
      <div data-aos="fade-up-left">
        <div class="cart">
          <div class="movie">
            <img src="/images/naruto.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Anime : Your name</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="fade-up-left">
        <div class="cart">
          <div class="movie">
            <img src="/images/transformers.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Deadpool 3:I'm Avenger</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>20.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="line"></div>
  <div data-aos="fade-up">
    <h1 class="prm">аниме
      <img width="100px" style="position: absolute; margin-left: -30px;" src="/images/free-rectangle-stamp-4.png"
        alt="" />
    </h1>
  </div>

  <div class="container" style="padding-bottom:   50px;">
    <div class="cards d-flex">
      <div data-aos="zoom-in-up">

        <div class="cart">
          <div class="movie">
            <img src="https://images.prom.ua/1650046627_w640_h640_poster-plakat-tetrad.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Thor:Love and Thunder</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>00.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="zoom-in-up">
        <div class="cart">
          <div class="movie">
            <img src="http://www.tinarou.org/articles/wp-content/uploads/2020/06/My-Hero-Academia-anime.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Spiderman: Multiverse 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>00.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="zoom-in-up">
        <div class="cart">
          <div class="movie">
            <img src="https://lordserials.online/uploads/posts/2022-02/1644928109_610x900_7462.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Squid Game : Season 2</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>00.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>

      </div>
      <div data-aos="zoom-in-up">
        <div class="cart">
          <div class="movie">
            <img src="/images/brolly.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Anime : Your name</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>00.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>
      <div data-aos="zoom-in-up">
        <div class="cart">
          <div class="movie">
            <img src="https://ip1.anime-pictures.net/previews/44e/44e33cb506892115833eebdbec4dec46_cp.jpg" alt="" />
          </div>
          <div class="movie-info">
            <h2>Deadpool 3:I'm Avenger</h2>
            <div class="toCard">
              <span>08.07.2022</span>
              <p>00.00$</p>
            </div>
            <button class="buy">BUY</button>

          </div>
        </div>
      </div>

    </div>

  </div>
  <div data-aos="fade-up">
    <h1 class="prm">Фильмы, которые я ставлю <img width="100px" style="position: absolute; margin-left: -30px;"
        src="/images/free-rectangle-stamp-4.png" alt="" /></h1>
  </div>

  <div class="container" style="margin-bottom: 50px;">
    <div class="cards d-flex" style="width: 1300px;">

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {{#if movie.length}}
          {{#each movie}}
          <div class="swiper-slide">
            <div data-aos="zoom-in">
              <div class="cart">
                <div class="movie">
                  <img src="{{img}}" alt="" />
                </div>
                <div class="movie-info">
                  <h2>{{name}}</h2>
                  <div class="toCard">
                    <span>08.07.2022</span>
                    <p>00.00$</p>
                  </div>
                  <button class="buy">BUY</button>
                </div>
              </div>
            </div>
          </div>

          {{/each}}
          <div class="cicle">
            <a href="/add/movie">
              <h1>+</h1>
            </a>
          </div>
          {{else}}
          <p>asdasdasd</p>
          {{/if}}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    {{!-- <div data-aos="fade-up">
      <h1 class="prm">Фильмы, которые я создал
        <img width="100px" style="position: absolute; margin-left: -30px;" src="/images/free-rectangle-stamp-4.png"
          alt="" />
      </h1>
    </div> --}}
    {{!-- <div class="container" style="padding-bottom: 150px;">
      <div class="cards d-flex">
        <div class="blur"></div>
        <div data-aos="zoom-in-up">

          <div class="cart">
            <div class="movie">
              <img src="https://www.tarkettsee.com/media/img/M/THH_25121916_25131916_25126916_25136916_001.jpg"
                alt="" />
              <h1 class="plus">+</h1>
            </div>
            <div class="movie-info">
              <h2>Thor:Love and Thunder</h2>
              <div class="toCard">
                <span>08.07.2022</span>
                <p>00.00$</p>
              </div>
              <button class="buy">BUY</button>

            </div>
          </div>
        </div>
        <div data-aos="zoom-in-up">
          <div class="cart">
            <div class="movie">
              <img src="https://www.tarkettsee.com/media/img/M/THH_25121916_25131916_25126916_25136916_001.jpg"
                alt="" />
              <h1 class="plus">+</h1>
            </div>
            <div class="movie-info">
              <h2>Spiderman: Multiverse 2</h2>
              <div class="toCard">
                <span>08.07.2022</span>
                <p>00.00$</p>
              </div>
              <button class="buy">BUY</button>

            </div>
          </div>
        </div>
        <div data-aos="zoom-in-up">
          <div class="cart">
            <div class="movie">
              <img src="https://www.tarkettsee.com/media/img/M/THH_25121916_25131916_25126916_25136916_001.jpg"
                alt="" />
              <h1 class="plus">+</h1>
            </div>
            <div class="movie-info">
              <h2>Squid Game : Season 2</h2>
              <div class="toCard">
                <span>08.07.2022</span>
                <p>00.00$</p>
              </div>
              <button class="buy">BUY</button>

            </div>
          </div>

        </div>
        <div data-aos="zoom-in-up">
          <div class="cart">
            <div class="movie">
              <img src="https://www.tarkettsee.com/media/img/M/THH_25121916_25131916_25126916_25136916_001.jpg"
                alt="" />
              <h1 class="plus">+</h1>
            </div>
            <div class="movie-info">
              <h2>Anime : Your name</h2>
              <div class="toCard">
                <span>08.07.2022</span>
                <p>00.00$</p>
              </div>
              <button class="buy">BUY</button>

            </div>
          </div>
        </div>
        <div data-aos="zoom-in-up">
          <div class="cart">
            <div class="movie">
              <img src="https://www.tarkettsee.com/media/img/M/THH_25121916_25131916_25126916_25136916_001.jpg"
                alt="" />
              <h1 class="plus">+</h1>
            </div>
            <div class="movie-info">
              <h2>Deadpool 3:I'm Avenger</h2>
              <div class="toCard">
                <span>08.07.2022</span>
                <p>00.00$</p>
              </div>
              <button class="buy">BUY</button>

            </div>
          </div>
        </div>

      </div>

    </div> --}}
  </div>




  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>

  </script>