<div class="heightContent">
    <div data-aos="fade-up">
        <div class="container">
        <div class="form">
            <h1 class="prm" style="text-align: center; color: #fff; text-transform: uppercase; padding-top: 30px; margin-bottom: 50px; font-size: 30px;">ВОЙТИ</h1>
            <form action="">
            <input class="pni" placeholder="Электронная почта " type="text">
            <input class="pni" placeholder="Пароль" type="price">
            <input class="btn-submit-s" placeholder="ВОЙТИ" type="submit">
        </form>
        </div>
    </div>
    </div>
    
</div>