<div class="heightContent">
  <div data-aos="fade-up">
    <div class="container">
      <div class="form">
        <h1
          class="prm"
          style="text-align: center; color: #fff; text-transform: uppercase; padding-top: 30px; margin-bottom: 50px; font-size: 30px;"
        >
          РЕГИСТРАТСИЯ</h1>
        <form action="">
          <div class="d-flex justify-content-between">
            <input class="pni" placeholder="Имя" type="text" />
            <input class="pni" placeholder="Фамилия" type="text" />
          </div>
          <div class="d-flex justify-content-between">
            <input class="pni" placeholder="Возраст" type="number" />
            <button class="pnii" style="cursor: pointer;">Мур.</button>
            <button
              class="pnii"
              style="cursor: pointer; margin-left: -80px"
            >Жен.</button>
            <button
              class="pnii"
              style="cursor: pointer; margin-left: -80px"
            >Дрг.</button>
          </div>
          <div class="d-flex justify-content-between">
            <input class="pni" placeholder="Имя позволителья" type="text" />
            <input class="pni" placeholder="Электронная почта " type="email" />
          </div>
          <div class="d-flex justify-content-between">
            <input class="pni" placeholder="Пароль" type="number" />
            <input class="pni" placeholder="Повторите пароль" type="number" />
          </div>

          <input
            class="btn-submit-acc"
            placeholder="РЕГИСТРАТСИЯ"
            type="submit"
          />

        </form>
      </div>
    </div>
  </div>

</div>